@if (!loading() && barChartDataset() && barChartLabels()) {
  @if (label()) {
    <h2 class="chart-item-heading" [@smoothTransition]>
      {{ label() }}
    </h2>
  }
  <div>
    <canvas
      baseChart
      [datasets]="barChartDataset()"
      [options]="barChartOptions"
      [labels]="barChartLabels()"
      [type]="'bar'"
      [@smoothTransition]
    >
    </canvas>
  </div>
}
@if (!loading() && !barChartDataset() && !barChartLabels()) {
  <app-no-data />
}
@if (loading()) {
  <app-vertical-bar-chart-skeleton />
}
