@if (joinGuildForm.statusChanges | async) {}

<h2>Edit Character</h2>
<app-character-form [characterForm]="characterForm" />
<form class="content-container">
  <div class="input-container" [formGroup]="joinGuildForm">
    <app-custom-input
      #search
      [type]="'text'"
      [id]="'guild'"
      [label]="'Guild'"
      formControlName="guild"
      (input)="
        searchQueryChange.emit(search.value); toggleSearchContainer.next(true)
      "
      (focusEvent)="toggleSearchContainer.next(true)"
      (clickEvent)="toggleSearchContainer.next(true)"
    />
    @if (toggleSearchContainer | async) {
      <app-search-items
        [searchResults]="searchResults"
        (selectedItem)="joinGuildForm.get('guild')?.setValue($event.name)"
        (closeComponent)="
          toggleSearchContainer.next(false); searchQueryChange.emit('')
        "
      />
    }
    @if (joinGuildForm.get("guild")?.pending) {
      <p style="color: aqua">Checking if guild exists..</p>
    }
  </div>
  <div class="btn-container">
    @if (
      joinGuildForm.valid &&
      joinGuildForm.get("guild")?.value !== character?.guild?.name &&
      joinGuildForm.get("guild")?.value !== ""
    ) {
      <button
        appGreenButton
        (click)="joinGuild.emit({ character: character!, joinGuildForm })"
        [disabled]="cas.joinLoading$ | async"
      >
        @if (cas.joinLoading$ | async) {
          <app-spinner [size]="20" />
        }
        Join
      </button>
    }
    @if (
      character?.guild !== null &&
      character?.guild?.name === joinGuildForm.get("guild")?.value &&
      (cas.joinLoading$ | async) === false
    ) {
      <button
        appRedButton
        (click)="leaveGuild.emit({ character: character!, joinGuildForm })"
        [disabled]="cas.leaveLoading$ | async"
      >
        @if (cas.leaveLoading$ | async) {
          <app-spinner [size]="20" />
        }
        Leave
      </button>
    }
  </div>
</form>
<div class="edit-btn-container">
  <button
    class="edit-btn"
    [disabled]="characterForm.invalid || (cas.updateLoading$ | async)"
    (click)="
      updateCharacter.emit({
        characterForm: characterForm,
        previousCharacterData: character!
      })
    "
  >
    @if (cas.updateLoading$ | async) {
      <app-spinner [size]="20" />
    }
    Save
  </button>
</div>
