<app-divider-dropdown
  [label]="'Create Character'"
  [loading]="ls.loading$ | async"
  (dividerToggled)="resetForm()"
>
  <app-character-form [characterForm]="characterForm" />
  <div class="btn-container">
    <button
      appCreateButton
      type="submit"
      [disabled]="characterForm.invalid || (cas.createLoading$ | async)"
      (click)="this.createCharacter.emit(this.characterForm)"
    >
      @if (cas.createLoading$ | async) {
        <app-spinner [size]="25" />
      }
      Create
    </button>
  </div>
</app-divider-dropdown>
