<ng-container *ngIf="characterForm.statusChanges | async" />

<form [formGroup]="characterForm" class="form">
  <div class="form-group">
    <app-custom-input
      [type]="'text'"
      [id]="'name'"
      [label]="'Name'"
      formControlName="name"
    />
    <div *ngIf="characterForm.get('name')?.pending">
      <p style="color: aqua">Checking if unique..</p>
    </div>
    <div
      *ngIf="
        !characterForm.get('name')?.pending &&
        !characterForm.get('name')?.invalid &&
        characterForm.get('name')?.value !== (cfs.initialName$ | async)
      "
    >
      <p style="color: green">Unique!</p>
    </div>
  </div>

  <div class="form-group character-type-container">
    <select appFocusVisible id="characterType" formControlName="characterType">
      <option value="" disabled selected>Class</option>
      <option
        *ngFor="let type of cts.getCharacterTypes() | async"
        [value]="type.typeName"
      >
        {{ type.typeName }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'health'"
      [label]="'Health'"
      formControlName="health"
    />
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'strength'"
      [label]="'Strength'"
      formControlName="strength"
    />
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'agility'"
      [label]="'Agility'"
      formControlName="agility"
    />
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'intelligence'"
      [label]="'Intelligence'"
      formControlName="intelligence"
    />
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'armor'"
      [label]="'Armor'"
      formControlName="armor"
    />
  </div>

  <div class="form-group">
    <app-custom-input
      [type]="'number'"
      [id]="'critChance'"
      [label]="'Crit Chance'"
      formControlName="critChance"
      [step]="0.01"
    />
  </div>
</form>
