<ul class="pagination">
  @for (item of pages; track index; let index = $index) {
    <li
      appFocusVisible
      [ngClass]="{
        'page-item': true,
        active: item !== '...' && currentPage === item
      }"
      (click)="handlePageClick(item, index)"
      (keyup.enter)="handlePageClick(item, index)"
      tabindex="0"
    >
      <span class="page-link">{{ item !== "..." ? item : "..." }}</span>
    </li>
  }
  @if (showGoToPage) {
    <li>
      Go to
      <input
        #searchInput
        type="number"
        (keydown.Enter)="emitGoToPage(searchInput.value)"
      />
      page
    </li>
  }
</ul>
