@if (!loading()) {
  <div class="options">
    <ng-container *ngTemplateOutlet="pageSize()" />
    <ng-container *ngTemplateOutlet="search()" />
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <ng-container *ngTemplateOutlet="headers()" />
        </tr>
      </thead>
      <tbody>
        @for (row of data(); track $index) {
          <tr>
            <ng-container
              *ngTemplateOutlet="rows(); context: { $implicit: row }"
            />
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ng-container *ngTemplateOutlet="pagination()" />
  </div>
}

@if (loading()) {
  <app-table-skeleton />
}
