.divider-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.divider {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.5rem;
}