:host {
  display: block;
  position: relative;
  border-bottom: 2px solid var(--text-color);
}

label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: var(--text-color);
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: var(--text-color);
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
