<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Characters By Attribute'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-container">
    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Health'"
        [barChartLabels]="(topCharactersByHealth$ | async)?.names || undefined"
        [barChartDataset]="
          (topCharactersByHealth$ | async)?.dataset || undefined
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Strength'"
        [barChartLabels]="(topCharactersByStrength$ | async)?.names || undefined"
        [barChartDataset]="
          (topCharactersByStrength$ | async)?.dataset || undefined
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Agility'"
        [barChartLabels]="(topCharactersByAgility$ | async)?.names || undefined"
        [barChartDataset]="
          (topCharactersByAgility$ | async)?.dataset || undefined
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Intelligence'"
        [barChartLabels]="
          (topCharactersByIntelligence$ | async)?.names || undefined
        "
        [barChartDataset]="
          (topCharactersByIntelligence$ | async)?.dataset || undefined
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Armor'"
        [barChartLabels]="(topCharactersByArmor$ | async)?.names || undefined"
        [barChartDataset]="(topCharactersByArmor$ | async)?.dataset || undefined"
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Crit Chance'"
        [barChartLabels]="
          (topCharactersByCritChance$ | async)?.names || undefined
        "
        [barChartDataset]="
          (topCharactersByCritChance$ | async)?.dataset || undefined
        "
        [loading]="loading$ | async"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Overall Characters'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-group-container">
    <div class="chart-container-item">
      <app-radar-chart
        [selectedCharacter]="radarChartCharacter$ | async"
        [topWellRoundedCharacters]="topWellRoundedCharacters$ | async"
        [radarChartLabels]="(radarChartDataset$ | async)?.labels"
        [radarChartDatasets]="(radarChartDataset$ | async)?.dataset"
        [loading]="loading$ | async"
        (selectedCharacterChange)="selectCharacter($event)"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Class Distribution'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-container-item">
    <app-doughnut-chart
      [polarAreaChartLabels]="
        (characterDistributionByType$ | async)?.ids || undefined
      "
      [polarAreaChartDatasets]="
        (characterDistributionByType$ | async)?.dataset || undefined
      "
      [loading]="loading$ | async"
    />
  </div>
</div>
