<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Characters By Attribute'"
      [loading]="ls.loading$ | async"
    />
  </div>
  <div class="chart-container">
    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Health'"
        [barChartLabels]="(css.topCharactersByHealth$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByHealth$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Strength'"
        [barChartLabels]="(css.topCharactersByStrength$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByStrength$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Agility'"
        [barChartLabels]="(css.topCharactersByAgility$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByAgility$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Intelligence'"
        [barChartLabels]="(css.topCharactersByIntelligence$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByIntelligence$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Armor'"
        [barChartLabels]="(css.topCharactersByArmor$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByArmor$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-horizontal-bar-chart
        [label]="'Crit Chance'"
        [barChartLabels]="(css.topCharactersByCritChance$ | async)?.names || null"
        [barChartDataset]="(css.topCharactersByCritChance$ | async)?.dataset || null"
        [loading]="ls.loading$ | async"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Overall Characters'"
      [loading]="ls.loading$ | async"
    />
  </div>
  <div class="chart-group-container">
    <div class="chart-container-item">
      <app-radar-chart
        [selectedCharacter]="css.radarChartCharacter$ | async"
        [topWellRoundedCharacters]="css.topWellRoundedCharacters$ | async"
        [radarChartLabels]="(css.radarChartDataset$ | async)?.labels"
        [radarChartDatasets]="(css.radarChartDataset$ | async)?.dataset"
        [loading]="ls.loading$ | async"
        (selectedCharacterChange)="css.radarChartCharacter$.next($event)"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Class Distribution'"
      [loading]="ls.loading$ | async"
    />
  </div>
  <div class="chart-container-item">
    <app-doughnut-chart
      [polarAreaChartLabels]="(css.characterDistributionByType$ | async)?.ids || null"
      [polarAreaChartDatasets]="
        (css.characterDistributionByType$ | async)?.dataset || null
      "
      [loading]="ls.loading$ | async"
    />
  </div>
</div>
