.tooltip {
  position: fixed;
  background-color: var(--text-color);
  border-radius: .5rem;
  color: var(--text-color-reverse);
  padding: .5rem;
  font-size: var(--font-size-tooltip-desktop);
  margin-top: 5px;
  transform: translateX(-50%);
}

.triangle {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--text-color);
  position: absolute;
  left: calc(50% - 5px);
  top: -4px;
}