<div class="skeleton-loader">
  <div class="sort-container">
    <div class="loading-item"></div>
    <div class="loading-item"></div>
  </div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="loading-item"></div>
  <div class="pagination-container">
    <div class="loading-item"></div>
    <div class="loading-item"></div>
    <div class="loading-item"></div>
    <div class="loading-item"></div>
    <div class="loading-item"></div>
  </div>
</div>
