<ul class="dropdown-content">
  <li
    #links
    class="dropdown-item"
    (click)="themeOnClick()"
    (keyup.enter)="themeOnClick()"
    tabindex="0"
    [ngStyle]="{
      filter: (ts.isDarkMode$ | async) ? 'brightness(1.2)' : 'brightness(0.8)'
    }"
  >
    <a>
      <span class="icon-container">
        <img
          [src]="
            (ts.isDarkMode$ | async)
              ? 'assets/images/icons/sun.svg'
              : 'assets/images/icons/moon.svg'
          "
          alt="{{ (ts.isDarkMode$ | async) ? 'Sun Logo' : 'Moon Logo' }}"
          [ngStyle]="{
            filter:
              (ts.isDarkMode$ | async)
                ? 'invert(100%) grayscale(100%)'
                : 'grayscale(100%)'
          }"
        />
      </span>
      <span>{{ (ts.isDarkMode$ | async) ? "Light Mode" : "Dark Mode" }}</span>
    </a>
  </li>
  <li
    #links
    class="dropdown-item"
    (click)="logout()"
    (keyup.enter)="logout()"
    tabindex="0"
    [ngStyle]="{
      filter: (ts.isDarkMode$ | async) ? 'brightness(1.2)' : 'brightness(0.8)'
    }"
  >
    <a
      ><span class="icon-container"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <title>Logout Icon</title>
          <path
            class="test"
            d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h299v60H180v600h299v60H180Zm486-185-43-43 102-102H360v-60h363L621-612l43-43 176 176-174 174Z"
          /></svg></span
      ><span class="logout-text">Logout</span></a
    >
  </li>
</ul>
