<ng-container *ngIf="guildForm.statusChanges | async" />
<app-divider-dropdown
  [label]="'Create Guild'"
  [loading]="ls.loading$ | async"
  (dividerToggled)="guildForm.reset()"
>
  <form
    [formGroup]="guildForm"
    class="form"
    (ngSubmit)="
      createGuild.emit({
        guildForm: guildForm
      })
    "
  >
    <div class="form-group">
      <app-custom-input
        [type]="'text'"
        [id]="'name'"
        [label]="'Guild Name'"
        formControlName="name"
      />
      <div *ngIf="guildForm.get('name')?.pending">
        <p style="color: aqua">Checking if unique..</p>
      </div>
    </div>

    <div class="form-group">
      <div style="position: relative">
        <app-custom-input
          #search
          [type]="'text'"
          [id]="'leader'"
          [label]="'Leader'"
          formControlName="leader"
          (input)="
            searchLeaderResultsQueryChange.emit(search.value);
            toggleSearchContainer.next(true)
          "
          (focusEvent)="toggleSearchContainer.next(true)"
          (clickEvent)="toggleSearchContainer.next(true)"
        />
        <app-search-items
          *ngIf="toggleSearchContainer | async"
          [searchResults$]="searchLeaderResults$"
          (selectedItem)="guildForm.get('leader')?.setValue($event.name)"
          (closeComponent)="
            toggleSearchContainer.next(false);
            searchLeaderResultsQueryChange.emit('')
          "
        />
        <div *ngIf="guildForm.get('leader')?.pending">
          <p style="color: aqua">Checking if leader exists..</p>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <button
        appCreateButton
        type="submit"
        [disabled]="guildForm.invalid || (gas.createLoading$ | async)"
      >
        <app-spinner [size]="25" *ngIf="gas.createLoading$ | async" />
        Create Guild
      </button>
    </div>
  </form>
</app-divider-dropdown>
