@if (guildForm.statusChanges | async) {}
<app-divider-dropdown
  [label]="'Create Guild'"
  [loading]="loading$ | async"
  (dividerToggled)="resetForm()"
>
  <form [formGroup]="guildForm" class="form">
    <div class="form-group">
      <app-custom-input
        [type]="'text'"
        [id]="'name'"
        [label]="'Guild Name'"
        formControlName="name"
      />
      @if (guildForm.get("name")?.pending) {
        <p style="color: aqua">Checking if unique..</p>
      }
    </div>

    <div class="form-group">
      <div style="position: relative">
        <app-custom-input
          #search
          [type]="'text'"
          [id]="'leader'"
          [label]="'Leader'"
          formControlName="leader"
          (input)="
            searchLeaderResultsQueryChange.emit(search.value);
            toggleSearchContainer.next(true)
          "
          (focusEvent)="toggleSearchContainer.next(true)"
          (clickEvent)="toggleSearchContainer.next(true)"
        />
        @if (toggleSearchContainer | async) {
          <app-search-items
            [searchResults]="searchLeaderResults"
            (selectedItem)="guildForm.get('leader')?.setValue($event.name)"
            (closeComponent)="
              toggleSearchContainer.next(false);
              searchLeaderResultsQueryChange.emit('')
            "
          />
        }
        @if (guildForm.get("leader")?.pending) {
          <p style="color: aqua">Checking if leader exists..</p>
        }
      </div>
    </div>

    <div class="btn-container">
      <button
        appCreateButton
        type="submit"
        (click)="
          createGuild.emit({
            name: guildForm.value.name,
            leader: guildForm.value.leader
          })
        "
        [disabled]="guildForm.invalid || (createLoading$ | async)"
      >
        @if (createLoading$ | async) {
          <app-spinner [size]="25" />
        }
        Create Guild
      </button>
    </div>
  </form>
</app-divider-dropdown>
