<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Guilds By Attribute'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-container">
    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Health'"
        [barChartLabels]="(topGuildsByHealth$ | async)?.names || null"
        [barChartDataset]="(topGuildsByHealth$ | async)?.dataset || null"
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Strength'"
        [barChartLabels]="(topGuildsByStrength$ | async)?.names || null"
        [barChartDataset]="(topGuildsByStrength$ | async)?.dataset || null"
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Agility'"
        [barChartLabels]="(topGuildsByAgility$ | async)?.names || null"
        [barChartDataset]="(topGuildsByAgility$ | async)?.dataset || null"
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Intelligence'"
        [barChartLabels]="(topGuildsByIntelligence$ | async)?.names || null"
        [barChartDataset]="
          (topGuildsByIntelligence$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Armor'"
        [barChartLabels]="(topGuildsByArmor$ | async)?.names || null"
        [barChartDataset]="(topGuildsByArmor$ | async)?.dataset || null"
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Crit Chance'"
        [barChartLabels]="(topGuildsByCritChance$ | async)?.names || null"
        [barChartDataset]="
          (topGuildsByCritChance$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Guilds By Members Average Attribute'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-container">
    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Health'"
        [barChartLabels]="
          (topGuildsByAverageHealthData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageHealthData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Strength'"
        [barChartLabels]="
          (topGuildsByAverageStrengthData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageStrengthData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Agility'"
        [barChartLabels]="
          (topGuildsByAverageAgilityData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageAgilityData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Intelligence'"
        [barChartLabels]="
          (topGuildsByAverageIntelligenceData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageIntelligenceData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Armor'"
        [barChartLabels]="
          (topGuildsByAverageArmorData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageArmorData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>

    <div class="chart-container-item">
      <app-vertical-bar-chart
        [label]="'Crit Chance'"
        [barChartLabels]="
          (topGuildsByAverageCritChanceData$ | async)?.names || null
        "
        [barChartDataset]="
          (topGuildsByAverageCritChanceData$ | async)?.dataset || null
        "
        [loading]="loading$ | async"
      />
    </div>
  </div>
</div>

<div class="chart-group-container">
  <div class="chart-container-heading">
    <app-heading
      [label]="'Top Overall Guilds'"
      [loading]="loading$ | async"
    />
  </div>
  <div class="chart-container-item">
    <app-horizontal-bar-chart
      [barChartLabels]="
        (topWellRoundedGuilds$ | async)?.names || null || null
      "
      [barChartDataset]="
        (topWellRoundedGuilds$ | async)?.dataset || null || null
      "
      [loading]="loading$ | async"
    />
  </div>
</div>
