<div class="main-container">
  <form
    class="form-box"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="form-title">Forgot Password</h2>
    <div class="message">
      <p>We will send you the reset password link on your email.</p>
    </div>
    <div class="form-group-container">
      <div class="form-group">
        <input
          id="email"
          type="text"
          formControlName="email"
          class="form-input"
          placeholder=""
          [container]="emailContainerDir.container"
        />
        <label for="email" class="form-label">Email</label>
      </div>
      <ng-container
        appValidatorMessageContainer
        #emailContainerDir="validatorMessageContainer"
      />
    </div>

    <button
      appFocusVisible
      class="btn"
      type="submit"
      [disabled]="forgotPasswordForm.invalid"
    >
      Send link
    </button>
  </form>
  <p class="link-container">
    Go back to <a appFocusVisible routerLink="/login">Login</a> Page
  </p>
</div>
