<div class="content-container">
  @if (authService.isCurrentUserAdmin$ | async) {
    <app-character-create (createCharacter)="createCharacter($event)" />
  }

  <app-character-table
    [characterData]="characterData$ | async"
    [isCurrentUserAdmin]="authService.isCurrentUserAdmin$ | async"
    [currentPage]="currentPage$ | async"
    [pageSize]="pageSize$ | async"
    (searchQueryChange)="tableSearchQuery$.next($event)"
    (pageSizeChange)="setPageSize($event)"
    (sortParamsChange)="setSortParams($event)"
    (changePage)="setCurrentPage($event)"
    (editCharacter)="
      updateSelectedCharacter($event);
      ms.open(modalTemplate);
      setName($event.name)
    "
    (deleteCharacter)="deleteCharacter($event)"
  />
</div>

<ng-template #modalTemplate>
  <app-character-edit
    [character]="selectedCharacter$ | async"
    [searchResults]="searchResults$ | async"
    (searchQueryChange)="guildSearchQuery$.next($event)"
    (joinGuild)="joinGuild($event.character, $event.guildName)"
    (leaveGuild)="leaveGuild($event)"
    (updateCharacter)="
      updateCharacter($event.character, $event.previousCharacterData)
    "
    (closeModal)="setName(undefined); updateSelectedCharacter(null)"
  />
</ng-template>
