<div class="content-container">
  <app-guild-create
    *ngIf="authService.isCurrentUserAdmin$ | async"
    [searchLeaderResults]="searchLeaderResults$ | async"
    (createGuild)="gas.guildCreate$.next($event)"
    (searchLeaderResultsQueryChange)="
      searchLeaderResultsQuery$.next($event)
    "
  ></app-guild-create>

  <app-guild-table
    [guildData]="gs.guildData$ | async"
    [isCurrentUserAdmin]="authService.isCurrentUserAdmin$ | async"
    [currentPage]="gs.currentPage$ | async"
    [pageSize]="gs.pageSize$ | async"
    (searchQueryChange)="tableSearchQuery$.next($event)"
    (pageSizeChange)="gs.pageSize$.next($event)"
    (sortParamsChange)="gs.sortParams$.next($event)"
    (changePage)="gs.currentPage$.next($event)"
    (editGuild)="
      gas.guildToUpdate$.next($event);
      ms.open(modalTemplate);
      gs.name$.next(gas.guildToUpdate$.value!.name)
    "
    (deleteGuild)="gas.guildDelete$.next($event)"
  ></app-guild-table>
</div>

<ng-template #modalTemplate>
  <app-guild-edit
    [guild]="gas.guildToUpdate$ | async"
    [searchNewLeaderResults]="searchNewLeaderResults$ | async"
    [searchNewMemberResults]="searchNewMemberResults$ | async"
    (searchNewLeaderResultsQueryChange)="
      searchNewLeaderResultsQuery$.next($event)
    "
    (searchNewMemberResultsQueryChange)="
      searchNewMemberResultsQuery$.next($event)
    "
    (updateGuildName)="gas.guildUpdateName$.next($event)"
    (updateGuildLeader)="gas.guildUpdateLeader$.next($event)"
    (addMember)="gas.guildAddMember$.next($event)"
    (removeMember)="gas.guildRemoveMember$.next($event)"
    (closeEdit)="ms.close(); gs.name$.next(undefined)"
  ></app-guild-edit>
</ng-template>
