<div class="content-container">
  @if (authService.isCurrentUserAdmin$ | async) {
    <app-guild-create
      [searchLeaderResults]="searchLeaderResults$ | async"
      (createGuild)="createGuild($event.name, $event.leader)"
      (searchLeaderResultsQueryChange)="searchLeaderResultsQuery$.next($event)"
    />
  }

  <app-guild-table
    [guildData]="guildData$ | async"
    [isCurrentUserAdmin]="authService.isCurrentUserAdmin$ | async"
    [currentPage]="currentPage$ | async"
    [pageSize]="pageSize$ | async"
    (searchQueryChange)="tableSearchQuery$.next($event)"
    (pageSizeChange)="setPageSize($event)"
    (sortParamsChange)="setSortParams($event)"
    (changePage)="setCurrentPage($event)"
    (editGuild)="
      updateSelectedGuild($event); ms.open(modalTemplate); setName($event.name)
    "
    (deleteGuild)="deleteGuild($event)"
  />
</div>

<ng-template #modalTemplate>
  <app-guild-edit
    [guild]="selectedGuild$ | async"
    [searchNewLeaderResults]="searchNewLeaderResults$ | async"
    [searchNewMemberResults]="searchNewMemberResults$ | async"
    (searchNewLeaderResultsQueryChange)="
      searchNewLeaderResultsQuery$.next($event)
    "
    (searchNewMemberResultsQueryChange)="
      searchNewMemberResultsQuery$.next($event)
    "
    (updateGuildName)="updateName($event.guildId, $event.name)"
    (updateGuildLeader)="updateLeader($event.guildId, $event.leaderId)"
    (addMember)="addMember($event.guild, $event.member)"
    (removeMember)="removeMember($event.guildId, $event.member)"
    (closeEdit)="setName(undefined); updateSelectedGuild(null)"
  />
</ng-template>
